<style tpye="text/css">
    .right-align{
        text-align: right;
        float: right;
        white-space: nowrap;
        display: inline-block;
    }
    #filter_button{
        padding: 2px 4px;
    }
    /* table data needs to be reformatted to look like <p>*/
</style>

{% extends "layout.html" %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading"><a href="/medicine_prices">Medicine Prices</a></div>
                    <div class="panel-body">


                        <form role="form" action="/medicine_prices">
                            <div class="form-group">
                                <label class="control-label" for="product_name">Search for a medicine or ingredient:</label>
                                <div class="input-group">
                                   <input type="text" class="form-control" id="product_name" name="product_name"
                                          placeholder="e.g. salbutamol or lamictin" value="{{ product_name }}">
                                    <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                    </span>
                                </div>
                            </div>
                        </form>

                        {% if missing %}
                            <br>
                            <p class="alert alert-warning">No matching medicines or ingredients found.</p>
                        {% endif %}
                        {% if no_similar %}
                            <br>
                            <p class="alert alert-warning">No products similar to {{ product_name }} could be found.</p>
                        {% endif %}

                       {% if product_list %}

                            <!-- Compare resuls -->
                           {% if is_comparative_search %}
                               <div id="comparison">
                                   <hr>
                                   <div class="panel-group">
                                   <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 >
                                                <a class="panel-title product-name collapse in" data-toggle="collapse" href="#product_{{ originator.nappi_code }}">
                                                <div class="row">
                                                    <div class="col-xs-6">{{ originator.name }}</div>
                                                    <div class="col-xs-6" style="text-align: right">{{ originator.sep }}</div>
                                                </div>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="product_{{ originator.nappi_code }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-6">
                                                    <h4>Product Details</h4>
                                                    <p>Max price (incl VAT and fees): <span class="right-align"> {{ originator.sep }}</span></p>
                                                    <p>Cost per unit: <span class="right-align"> {{ originator.cost_per_unit }}</span></p>
                                                    <p>Dispensing Fee: <span class="right-align"> {{ originator.dispensing_fee }}</span></p>
                                                    <p>Schedule <span class="right-align"> {{ originator.schedule }}</span></p>
                                                    <p>Dosage Form: <span class="right-align"> {{ originator.dosage_form }}</span></p>
                                                    <p>Tables/ml/Doses: <span class="right-align"> {{ originator.pack_size }}</span></p>
                                                    <p>Number of packs: <span class="right-align"> {{ originator.num_packs }}</span></p>
                                                    <p>Generic/Innovator: <span class="right-align"> {{ originator.is_generic }}</span></p>
                                                </div>
                                                <br>
                                                <div class="col-sm-6">
                                                    <h4>Ingredients</h4>
                                                    {% for item in originator.ingredients %}
                                                        <p>{{ item.name }} <span class="right-align"> {{ item.strength }}{{ item.unit }}</span></p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                   </div>
                               </div>
                               <hr>
                           {% endif %}

                            <div id="results">
                                <div class="row">
                                    <div class="col-sm-8">
                                        {% if is_comparative_search %}
                                            <p>{{ num_results }} product(s) with similar ingredients to <strong>{{ product_name }}</strong></p>
                                        {% else %}
                                             <p> {{ num_results }} result(s) for <strong>{{ product_name }}</strong></p>
                                        {% endif %}
                                    </div>
                                </div>

                                <br>

                                <div class="panel-group" id="accordion">
                                    {% for product in product_list %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 >
                                                <a class="panel-title product-name collapse in" data-toggle="collapse" data-parent="#accordion" href="#product_{{ product.nappi_code }}">
                                                <div class="row">


                                                    <div class="col-xs-6">{{ product.name }}</div>
                                                    <div class="col-xs-6" style="text-align: right">{{ product.sep }}</div>

                                                </div>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="product_{{ product.nappi_code }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="col-sm-6">
                                                    <h4>Product Details</h4>
                                                    <p>Max price (incl VAT and fees): <span class="right-align"> {{ product.sep }}</span></p>
                                                    <p>Cost per unit: <span class="right-align"> {{ product.cost_per_unit }}</span></p>
                                                    <p>Dispensing Fee: <span class="right-align"> {{ product.dispensing_fee }}</span></p>
                                                    <p>Schedule <span class="right-align"> {{ product.schedule }}</span></p>
                                                    <p>Dosage Form: <span class="right-align"> {{ product.dosage_form }}</span></p>
                                                    <p>Tables/ml/Doses: <span class="right-align"> {{ product.pack_size }}</span></p>
                                                    <p>Number of packs: <span class="right-align"> {{ product.num_packs }}</span></p>
                                                    <p>Generic/Innovator: <span class="right-align"> {{ product.is_generic }}</span></p>
                                                </div>
                                                <br>
                                                <div class="col-sm-6">
                                                    <h4>Ingredients</h4>
                                                    {% for item in product.ingredients %}
                                                        <p>{{ item.name }} <span class="right-align"> {{ item.strength }}{{ item.unit }}</span></p>
                                                    {% endfor %}
                                                </div>

                                                <div class="col-sm-6">
                                                <a href="/find_related_products/{{ product.nappi_code }}" class="btn btn-info" role="button">Compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="footer-below text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="">
                    An <a target="_blank" href="http://opendata.durban">Open Data Durban</a> widget for an <a target="_blank" href="https://openup.org.za/">OpenUp</a> tool.
                </div>
            </div>
        </div>
    </div>


{% endblock content %}