<title>{{ title }}</title>
<meta charset="UTF-8">
 <meta name="robots" content="index, nofollow" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale =1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- Main styles for this application -->
<!-- Main styles for this application -->
<link href="../../static/css/bootstrap.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">

