<title>{{ title }}</title>
<meta charset="UTF-8">
 <meta name="robots" content="index, nofollow" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale =1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- Main styles for this application -->
<!-- Main styles for this application -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="../../static/js/bootstrap.js"></script>

    <script src="https://use.fontawesome.com/972bc1e239.js"></script>

    <!-- Icons -->
    <link href="../../static/css/font-awesome.css" rel="stylesheet">
    <link href="../../static/css/bootstrap.css" rel="stylesheet">


<!-- Main styles for this application -->
    <link href="../../static/css/voting.css" rel="stylesheet">

<!-- Icons -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Arimo:700" rel="stylesheet">




